/* Google Font */


/* Set font for page */
* {
  font-family: "Open Sans", sans-serif;
 
}

/* Body CSS */
body {
  font-size: 18px;
  line-height: 1;
  background-color: rgb(252, 255, 238);
}
html {
  scroll-behavior: smooth;
}

/* Text box CSS */
textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #37dd0e;
  border-left: 0px solid black;
  padding: 1px;
  text-align: justify;
}

/* Jumbotron / Header CSS */
.jumbotron {
  text-align: center;
  background-color: rgb(20, 76, 11);
  color: whitesmoke;
  border: 0px;
  border-bottom: 0px solid black;
}

.description {
  white-space: pre-wrap;
}

/* Time / Save CSS */
.time-block,
.save-block {
  text-align: left;
  border:0px;
  color: darkslategrey;
}

.row {
  white-space: pre-wrap;
  height: 90px;
  border-top: 1px solid white;
}

.buttonDiv {
  display: flex;
  justify-content: center;
  margin-top: 10px ;
}

.hour {
  color: #000000;
  border-top: 1px dashed #000000;
  border-bottom: 1px dashed #000000;
}

/* Color Coding based on times */
.past {
  background-color: #d3d3d3;
}

.present {
  background-color: #c9e594;
}

.future {
  background-color: #86ed86;
}

/* Button CSS */
.clr-btn {
  border: 1px solid black;
  font-weight: bolder;

}
.saveBtn {
  border-left: 1px solid black;
  border-top: 0px;
  border-bottom: 0px;
  background-color:  rgb(146, 237, 132);
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
/* customize the scrollbar*/ 
}
::-webkit-scrollbar{
  width: 20px;
}
::-webkit-scrollbar-track{
  border-radius: 5px  solid #1c8f1c;
  box-shadow: 1 1 3px 3px rgba(0,0,0,0,2.5)
}
::-webkit-scrollbar-thumb{
  background:linear-gradient(
    30deg,
    #baf025,
    #121a12
     );
  border-radius: 8px;
}
